{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script>
  var information = {{ data | tojson }}
  console.log(information)
</script>

<style>
  #homeImg {
    width: 600px;
    height: 300px;
  }

  .align {
    display: flex;
    align-items: center;
    justify-content: center
  }

  #learn {
    text-align: center;
  }
</style>

<body style="background-color: white">
  <div class="container">
    <h1>Which Knife Should I Use? </h1>
    <div id="knifeRow">

    </div>

    <img id="homeImg" src="static/imgs/main.png" alt="Multiple Knives Image">

    <button id="learn" value="submit" class="goButton">Learn Here</button>
    <div class="storeView"> </div>

  </div>
</body>

{% endblock content%}
